/* Variáveis de cor */
:root {
    --primary: #000;
    --secondary: #f9f9f9;
    --highlight: #ffc107;
}

/* Geral */
body {
    font-family: 'Poppins', sans-serif;
    padding-top: 5px; /* Distancia da Imagem para a NavBar */
}

/* Carrossel */
.carousel-item {
    height: 670px;
    background-color: #f0f0f0;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
    opacity: 0.9;
    background-color: #f0f0f0;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

/* Cards */
.card {
    border: 1px solid #eee; 
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex; /* Adicione Flexbox */
    flex-direction: column; /* Organiza em coluna */
    justify-content: space-between; /* Empurra o footer/botão para baixo */
    height: 100%; /* Garante que o card ocupe a altura total disponível no row */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    width: 100%;
}

/* Ajuste no corpo do card (para centralizar o botão) */
.card-body {
    padding: 15px 10px; /* Reduza um pouco o padding lateral */
    text-align: left; /* Alinhar o texto à esquerda (como na ref.) */
}

/* Remover a centralização do seu JS/HTML antigo */
.card-body .card-text, .card-body h5 {
    text-align: left !important; /* Força o alinhamento à esquerda */
}

/* Botão para garantir que ele esteja sempre na parte inferior */
.card-body .btn {
    margin-top: auto; /* Empurra o botão para o final do card-body */
}

/* Footer */
footer {
    background-color: #111;
    color: #eee;
    padding: 30px 0;
}